{{- $podIP := .status.podIP -}}
{
    "admin": {
        "address": "tcp://0.0.0.0:15000",
        "access_log_path": "/dev/stdout"
    },
    "listeners": [
        {{- range .spec.containers }}
        {{- range .ports }}
        {
            "address": "tcp://{{$podIP}}:{{.containerPort}}",
            "bind_to_port": false,
            "filters": [
                {
                    "type": "read",
                    "name": "http_connection_manager",
                    "config": {
                        "codec_type": "auto",
                        "stat_prefix": "http",
                        "route_config": {
                            "virtual_hosts": [
                                {
                                    "name": "localhost.80",
                                    "domains": [
                                        "*"
                                    ],
                                    "routes": [
                                        {
                                            "prefix": "/",
                                            "cluster": "localhost.80"
                                        }
                                    ]
                                }
                            ]
                        },
                        "filters": [
                            {
                                "type": "decoder",
                                "name": "router",
                                "config": {}
                            }
                        ],
                        "access_log": [
                            {
                                "path": "/dev/stdout"
                            }
                        ]
                    }
                }
            ]
        },
        {{ end -}}
        {{ end -}}
        {
            "address": "tcp://0.0.0.0:15001",
            "use_original_dst": true,
            "filters": []
        }
    ],
    "lds": {
        "cluster": "lds",
        "refresh_delay_ms": 2500
    },
    "cluster_manager": {
        "clusters": [
            {{- range .spec.containers }}
            {{- range .ports }}
            {
                "name": "localhost.{{.containerPort}}",
                "type": "static",
                "lb_type": "round_robin",
                "connect_timeout_ms": 1000,
                "hosts": [
                    {
                        "url": "tcp://127.0.0.1:{{.containerPort}}"
                    }
                ]
            },
            {{ end -}}
            {{ end -}}                    
            {
                "name": "lds",
                "type": "static",
                "lb_type": "round_robin",
                "connect_timeout_ms": 1000,
                "hosts": [
                    {
                        "url": "tcp://127.0.0.1:15002"
                    }
                ]
            }
        ],
        "cds": {
            "cluster": {
                "name": "cds",
                "type": "static",
                "lb_type": "round_robin",
                "connect_timeout_ms": 1000,
                "hosts": [
                    {
                        "url": "tcp://127.0.0.1:15002"
                    }
                ]
            },
            "refresh_delay_ms": 2500
        }
    }
}