{
    "listeners": [
        {
            "name": "0.0.0.0:80",
            "address": "tcp://0.0.0.0:80",
            "filters": [
                {
                    "name": "http_connection_manager",
                    "config": {
                        "codec_type": "auto",
                        "stat_prefix": "http",
                        "route_config": {
                            "internal_only_headers": [
                                "Context-Headers",
                                "x-k8s-namespace"
                            ],
                            "request_headers_to_add": [
                                {
                                    "key": "Context-Headers",
                                    "value": "x-request-id,x-ot-span-context,x-b3-traceid,x-b3-spanid,x-b3-parentspanid,x-b3-sampled,x-b3-flags,x-k8s-namespace"
                                }
                            ],
                            "virtual_hosts": [
                                {
                                    "name": "service-a.johnsta.80",
                                    "domains": [
                                        "johnsta-service-a-1812ufk.cde.io"
                                    ],
                                    "request_headers_to_add": [
                                        {
                                            "key": "x-k8s-namespace",
                                            "value": "johnsta"
                                        }
                                    ],
                                    "routes": [
                                        {
                                            "prefix": "/",
                                            "cluster": "johnsta.service-a.80"
                                        }
                                    ]
                                },
                                {
                                    "name": "service-a.stephpr.80",
                                    "domains": [
                                        "stephpr-service-a-1812ufk.cde.io"                                        
                                    ],
                                    "request_headers_to_add": [
                                        {
                                            "key": "x-k8s-namespace",
                                            "value": "stephpr"
                                        }
                                    ],
                                    "routes": [
                                        {
                                            "prefix": "/",
                                            "cluster": "default.service-a.80"
                                        }
                                    ]
                                },
                                {
                                    "name": "service-a.80",
                                    "domains": [
                                        "service-a-1812ufk.cde.io"
                                    ],
                                    "routes": [
                                        {
                                            "prefix": "/",
                                            "cluster": "default.service-a.80"
                                        }
                                    ]
                                }
                            ]
                        },
                        "filters": [
                            {
                                "type": "decoder",
                                "name": "router",
                                "config": {}
                            }
                        ],
                        "access_log": [
                            {
                                "path": "/dev/stdout"
                            }
                        ]
                    }
                }
            ]
        }
    ]
}
