{{- $podIP := .status.podIP }}
{{- range .spec.containers }}
{{- range .ports }},
        {
            "name": "{{ $podIP }}:{{ .containerPort }}",
            "address": "tcp://{{ $podIP }}:{{ .containerPort }}",
            "bind_to_port": false,
            "filters": [
                {
                    "name": "http_connection_manager",
                    "config": {
                        "codec_type": "auto",
                        "stat_prefix": "http",
                        "route_config": {
                            "virtual_hosts": [
                                {
                                    "name": "in.{{ .containerPort }}",
                                    "domains": [
                                        "*"
                                    ],
                                    "routes": [
                                        {
                                            "prefix": "/",
                                            "cluster": "in.{{ .containerPort }}"
                                        }
                                    ]
                                }
                            ]
                        },
                        "filters": [
                            {
                                "name": "router",
                                "config": {}
                            }
                        ],
                        "tracing": {
                            "operation_name": "ingress"
                        },
                        "access_log": [
                            {
                                "path": "/dev/stdout"
                            }
                        ]
                    }
                }
            ]
        }
{{- end }}
{{- end }}