{{- $services := .items }}
{{- range $services }}
{{- $metadata := .metadata }}
{{- $clusterIP := .spec.clusterIP }}
{{- range .spec.ports }}
{{- $port := .port }},
        {
            "name": "{{ $clusterIP }}:{{ $port }}",
            "address": "tcp://{{ $clusterIP }}:{{ $port }}",
            "bind_to_port": false,
            "filters": [
                {
                    "name": "http_connection_manager",
                    "config": {
                        "codec_type": "auto",
                        "stat_prefix": "http",
                        "route_config": {
                            "virtual_hosts": [
                                {
                                    "name": "out.{{ $metadata.namespace }}.{{ $metadata.name }}.{{ $port }}",
                                    "domains": [
                                        "*"
                                    ],
                                    "routes": [
{{- range $services }}
{{- if eq .metadata.name $metadata.name }}
{{- $namespace := .metadata.namespace }}
{{- range .spec.ports }}
{{- if eq .port $port }}
                                        {
                                            "headers": [
                                                {
                                                    "name": "x-k8s-namespace",
                                                    "value": "{{ $namespace }}"
                                                }
                                            ],
                                            "prefix": "/",
                                            "cluster": "out.{{ $namespace }}.{{ $metadata.name }}.{{ $port }}"
                                        },
{{- end }}
{{- end }}
{{- end }}
{{- end }}
                                        {
                                            "prefix": "/",
                                            "cluster": "out.{{ $metadata.namespace }}.{{ $metadata.name }}.{{ $port }}"
                                        }
                                    ]
                                }
                            ]
                        },
                        "filters": [
                            {
                                "type": "decoder",
                                "name": "router",
                                "config": {}
                            }
                        ],
                        "tracing": {
                            "operation_name": "egress"
                        },
                        "access_log": [
                            {
                                "path": "/dev/stdout"
                            }
                        ]
                    }
                }
            ]
        }
{{- end }}
{{- end }}
